@model Contract_Report2.ModelDataLayer.Entities.Company
@{
    ViewData["Title"] = "AddContract";
}
@{
    Layout = "_Layout";
}

<div class="wizard">
    <div class="step active">
       <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Step1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <button>Save</button>
  </div>
</div>
    </div>
    <div class="step" style="display:none">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Step2</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="step" style="display:none">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="step" style="display:none">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <div class="step" style="display:none">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <input type="button" class="prev" style="display: none" value="Previous" />
    <input type="button" class="next" value="Next" />
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.wizard .prev').click(function () {
                var wizard = $(this).parent('.wizard');

                $('.step.active', wizard).hide();

                var currentStep = $('.step.active', wizard);
                currentStep.hide();
                currentStep.removeClass('active');

                var newStep = currentStep.prev('.step', wizard);
                newStep.addClass('active');
                newStep.show();

                if ($('.step:first', wizard)[0] == newStep[0]) {
                    $(this).hide();
                }

                $('.next', wizard).show();
            });

            $('.wizard .next').click(function () {
                    
                var wizard = $(this).parent('.wizard');

                $('.step.active', wizard).hide();

                var currentStep = $('.step.active', wizard);
                currentStep.hide();
                currentStep.removeClass('active');

                var newStep = currentStep.next('.step', wizard);
                newStep.addClass('active');
                newStep.show();

                if ($('.step:last', wizard)[0] == newStep[0]) {
                    $(this).hide();
                }

                $('.prev', wizard).show();
            });
        });
    </script>
}