@model Contract_Report2.ModelDataLayer.Entities.Contract
@{
    ViewData["Title"] = "AddContract";
}
@{
    Layout = "_Layout";
}
<header>
@*     <div id="flip" style="padding: 3px; text-align:right; background-color: #e5eecc; border: solid 1px #c3c3c3; font-size:small">جهت اطلاع از شیوه عملکرد فرم کلیک کنید!</div>
    <div id="panel" style="  padding: 10px;display: none; text-align: right; background-color: #e5eecc; border: solid 1px #c3c3c3; font-size:small"> ...جهت راحتی کاربران، این فرم در 4 مراحله طراحی شده است </div> *@
</header>
<section>
    <div class="container" >
        <div class="row d-flex justify-content-center">
            @* <div class="col-md-8> *@
            <div class="wizard" style="padding:50px ">

                <div class="wizard-inner" style="font-weight:14">
                    @* <div class="connecting-line"></div>   *@
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="disabled" style="width:250px ;text-align:center">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true" id="BTN1">
                                <span class="round-tab">1 </span>
                                <div> <i>ثبت اطلاعات اولیه قرار داد </i></div>

                            </a>


                        </li>

                        <li role="presentation" class="disabled" style="width:250px;  text-align:center">

                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false" id="BTN2">
                                <span class="round-tab">2</span>
                                <div><i>اطلاعات بوجه</i></div>
                            </a>

                        </li>

                        <li role="presentation" class="disabled" style="width:250px;  text-align:center">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" aria-expanded="false" id="BTN3">
                                <span class="round-tab">3</span>
                                <div><i>مشخصات قرار داد بعد از مشخص شدن پیمانکار</i></div>
                            </a>
                        </li>          

                    </ul>
                </div>

                <form asp-controller="Contract" asp-action="AddContract" method="post" enctype="multipart/form-data" style="font:bold">

                    <div id="main_form" class="tab-content">
                        <div class="tab-pane active " role="tabpanel" id="step1">
                            <h5  style=" padding-bottom:20px ; color:forestgreen;" >ثبت اطلاعات اولیه قرار داد</h5>
                            <div class="col-md-6 col-xs-12">
                                <!--ContractDescription-->
                                <div style="padding-bottom:15px ">
                                   <label asp-for="ContractDescription" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="ContractDescription" type="text" class="form-control custominput" placeholder="شرح قرارداد ..." autocomplete="off" />
                                        <span asp-validation-for="ContractDescription" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                <!--ContractNumber-->
                                <div style="padding-bottom:15px ">
                                    <label asp-for="ContractNumber " class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="ContractNumber " type="text" class="form-control custominput" placeholder="شماره قرارداد ..." autocomplete="off" />
                                        <span asp-validation-for="ContractNumber " class="text-danger"></span>
                                    </div>
                                </div>
                                <!--Contracttype-->
                                <div style="padding-bottom:15px ">

                                 <label asp-for="ContractType" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="ContractType " type="text" class="form-control custominput" placeholder="نوع قرارداد ..." autocomplete="off" />
                                        <span asp-validation-for="ContractType" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--Contracttype-->
                                <div style="padding-bottom:15px ">
                                    <label asp-for="EstimatedCost" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="EstimatedCost " type="text" class="form-control custominput" placeholder=" مبلغ برآورد هزینه ..." autocomplete="off" />
                                        <span asp-validation-for="EstimatedCost" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-9 col-xs-12" style="padding-bottom:15px ">
                               <labe>بازنگری شرح کار</labe>
                                
                                    <div class="col-md-9 col-xs-12">
                                        <label asp-for="ReviewAndEditting" class="control-label col-md-9 col-xs-12"></label>
                                        <input asp-for="ReviewAndEditting" type="radio"  value="true" />
                                        <span asp-validation-for="ReviewAndEditting" class="text-danger"></span>
                                    </div>
                                 
                                    <div class="col-md-9 col-xs-12">
                                        <label asp-for="Committee" class="control-label col-md-9 col-xs-12"></label>
                                        <input asp-for="Committee" type="radio" value="true" />
                                        <span asp-validation-for="Committee" class="text-danger"></span>
                                    </div>
                                
                                    <div class="col-md-9 col-xs-12">
                                        <label asp-for="CommitteeApproval" class="control-label col-md-9 col-xs-12"></label>
                                        <input asp-for="CommitteeApproval" type="radio" value="true" />
                                        <span asp-validation-for="ReviewAndEditting" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--HowToAssign-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="HowToAssign" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="HowToAssign " type="text" class="form-control custominput" placeholder="نحوه واگزاری ..." autocomplete="off" />
                                        <span asp-validation-for="HowToAssign" class="text-danger"></span>
                                    </div>
                                </div>


                                <!-- RateDeadline-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="RateDeadline" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="RateDeadline " type="text" class="form-control custominput" placeholder="مهلت ارايه نرخ ..." autocomplete="off" />
                                        <span asp-validation-for="RateDeadline" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h5 style=" padding-bottom:20px ; color:forestgreen;">اطلاعات بودجه</h5>
                            <div class="col-md-6 col-xs-12">
                                <!--BudgetRequestDate-->
                                <div style="padding-bottom:15px" >
                                    <label asp-for="BudgetRequestDate" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="BudgetRequestDate" type="text" class="form-control custominput" placeholder="تاریخ درخواست بودجه ..." autocomplete="off" />
                                        <span asp-validation-for="BudgetRequestDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--BudgetApprovalDate-->
                                <div style="padding-bottom:15px" >
                                    <label asp-for="BudgetApprovalDate " class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="BudgetApprovalDate " type="text" class="form-control custominput" placeholder="تاریخ تایید بودجه ..." autocomplete="off" />
                                        <span asp-validation-for="BudgetApprovalDate " class="text-danger"></span>
                                    </div>
                                </div>
                                <!--HowToAssign-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="HowToAssign" class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="HowToAssign" type="text" class="form-control custominput" placeholder="نحوه واگزاری ..." autocomplete="off" />
                                        <span asp-validation-for="HowToAssign" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--RateDeadline-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="RateDeadline " class="control-label col-md-3 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="RateDeadline " type="text" class="form-control custominput" placeholder="مهلت ارايه نرخ ..." autocomplete="off" />
                                        <span asp-validation-for="RateDeadline " class="text-danger"></span>
                                    </div>
                                </div>
                     
                            </div>


                        </div>

                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h5 style=" padding-bottom:20px ; color:forestgreen;">مشخصات قرار داد بعد از مشخص شدن پیمانکار</h5>
                            <div class="col-md-6 col-xs-12">
                                <!--OpeningDate-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="OpeningDate" class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="OpeningDate" type="text" class="form-control custominput" placeholder="تاریخ گشایش پاکات ..." autocomplete="off" />
                                        <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--FixedAmount-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="FixedAmount " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="FixedAmount " type="text" class="form-control custominput" placeholder="مبلغ قطعی قرارداد به ریال ..." autocomplete="off" />
                                        <span asp-validation-for="FixedAmount " class="text-danger"></span>
                                    </div>
                                </div>
                                <!--BankGurantee-->
                                <div style="padding-bottom:15px">
                                  
                                    <div class="col-md-9 col-xs-12">
                                        <label asp-for="BankGurantee " class="control-label col-md-4 col-xs-4"></label>
                                        <input asp-for="BankGurantee " type="radio"  value="True"  />
                                        <span asp-validation-for="BankGurantee " class="text-danger"></span>
                                    </div>
                                </div>

                                <!--StratWorkDate-->
                        
                  @*               <div style="margin-bottom:15px;">
                                    <label asp-for="StratWorkDate" class="control-label col-md-3 col-xs-12" for="StratWorkDate"></label>
                                    <div class="input-group col-md-9 col-xs-12" style="padding-left:9px; padding-right:9px;">
                                        <div class="input-group-addon"
                                             style="border:1px solid gray; padding:6px">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <input asp-for="StratWorkDate" id="StratWorkDate" name="StratWorkDate" type="datetime"
                                               class="form-control custominput" data-mddatetimepicker="true" data-placement="right"
                                               data-mdpersiandatetimepicker="" data-trigger="focus" data-enabletimepicker="true"
                                               data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                                               data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">

                                    </div>
                                    <span asp-validation-for="StratWorkDate" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                                </div> *@
                                <div style="padding-bottom:15px">
                                    <label asp-for="StratWorkDate " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="StratWorkDate " type="text" class="form-control custominput" placeholder="شروع به کار ..." autocomplete="off" />
                                        <span asp-validation-for="StratWorkDate " class="text-danger"></span>
                                    </div>
                                </div>
                                <!--StratWorkDate-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="EndWorkDate " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="EndWorkDate " type="text" class="form-control custominput" placeholder="پایان به کار ..." autocomplete="off" />
                                        <span asp-validation-for="EndWorkDate " class="text-danger"></span>
                                    </div>
                                </div>

                                <!--TimeExtension-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="TimeExtension " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="TimeExtension " type="text" class="form-control custominput" placeholder=" تمدید زمانی به ماه ..." autocomplete="off" />
                                        <span asp-validation-for="TimeExtension " class="text-danger"></span>
                                    </div>
                                </div>

                                <!--RealFinishDate-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="RealFinishDate " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="RealFinishDate " type="text" class="form-control custominput" placeholder=" پایان کار واقعی ..." autocomplete="off" />
                                        <span asp-validation-for="RealFinishDate " class="text-danger"></span>
                                    </div>
                                </div>

                                <!--ApplicantUnit-->
                                <div style="padding-bottom:15px">
                                    <label asp-for="ApplicantUnit " class="control-label col-md-9 col-xs-12"></label>
                                    <div class="col-md-9 col-xs-12">
                                        <input asp-for="ApplicantUnit " type="text" class="form-control custominput" placeholder=" واحد متقاضی ..." autocomplete="off" />
                                        <span asp-validation-for="ApplicantUnit " class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                     
                        </div>

                        </div>

                    <div class="col-xs-12 form-group" style="margin-top:15px;">
                        <input type="submit" value="ثبت قرار جدید" class="btn btn-primary" />
                    </div>

                </form>


            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function () {
          //  $("input").focus(function () {
               // $(this).css("background-color", "cornflowerblue");
            $("input:text").css("background-color", "#e5e5e5");
            //});
            $("input").focus(function () {
                $(this).css("background-color", "cornflowerblue");
            });

            $("#BTN1").click(function () {
                $("#step1").fadeIn();
                $("#step2").hide();
                $("#step3").hide();
            });

            $("#BTN2").click(function () {
                $("#step2").fadeIn();
                $("#step1").hide();
                $("#step3").hide();

            });
            $("#BTN3").click(function () {
                $("#step3").fadeIn();
                $("#step2").hide();
                $("#step1").hide();
            });
            $("#flip").click(function () {
                $("#panel").slideToggle("Show");
            });
        });

        // $(document).ready(function () {
        //     // $('.nav-tabs > li a[title]').tooltip();

        //     //Wizard
        //     $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        //         // var target = $(e.target);

        //         // if (target.parent().hasClass('disabled')) {
        //         //     return false;
        //         // }
        //         $(this).addClass('active');
        //     });
        // });




        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
            // console.log('djhjdh');
        });


    </script>
}

